.info-card {
    /* max-width: 400px; */
    /* margin-bottom: 30px; */
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 3px;
    padding: 4em;
}
  
.container > div{
    padding: 15px;
}
  
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.row-start {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.row-start p{
    padding-left: 10px; 
}
  
.column {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-basis: 30%;
}

  
.group > label {
    margin-right: 1em; 
    padding: .5em 0;
}

.btn{
    background: #3F51B5;
    color: white;
    width: 150px;
}

.warning-message{
    background-color: tomato;
    border: 1px solid red;
    border-radius: 3px;
}
  