<form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
  <h3 class="head">Вход</h3>
  <div class="fields-container">
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Имейл" name="email" [(ngModel)]="user.email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Парола" name="password" [(ngModel)]="user.password">
    </mat-form-field>

    <mat-checkbox class="check-box" name="rememberMe" [(ngModel)]="user.rememberMe">Запомни ме</mat-checkbox><br/>
  </div>
    <a class="link" routerLink="/register">Нямате регистрация?</a><br/>
    <button mat-button type="submit" class="submit-btn">Напред</button>
</form>