<form class="myForm">
  <h2 class="row">Вход</h2>

  <div class="row">

    <div class="column">
      <mat-form-field class="example-full-width">
        <input class="input" matInput placeholder="Имейл" name="email" [(ngModel)]="user.email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input class="input" type="password" matInput placeholder="Парола" name="password" [(ngModel)]="user.password">
      </mat-form-field>

    </div>
  </div>

  <!-- <div class="row">
      <mat-checkbox class="check-box" name="rememberMe" [(ngModel)]="user.rememberMe">Запомни ме</mat-checkbox>
    </div> -->

  <div class="row">
    <a class="link" routerLink="/register">Нямате регистрация?</a>
  </div>

  <div class="row">
    <button mat-button (click)="login()" type="submit">Напред</button>
  </div>

</form>