<form class="login-form" #loginForm="ngForm" (ngSubmit)="register()">
  <h3 class="head">Регистрация</h3>
  <div class="fields-container">
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Име" name="firstName" [(ngModel)]="user.firstName">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Фамилия" name="lastName" [(ngModel)]="user.lastName">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Имейл" name="email" [(ngModel)]="user.email">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Телефон за връзка" name="phoneNumber" [(ngModel)]="user.phoneNumber">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Парола" name="password" [(ngModel)]="user.password">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Повтори паролата" name="confirmPassword" [(ngModel)]="user.confirmPassword">
      <mat-hint>Задължително поле</mat-hint>
    </mat-form-field>
  </div>
  <button mat-button type="submit" class="submit-btn">Напред</button>
</form>