<form class="myForm">
  <h4 class="row">Промени Артикул</h4>

  <div class="row">
    <div class="column">
      <mat-form-field>
        <input matInput placeholder="Име" name="name" [(ngModel)]="article.name" [formControl]="displayNameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="displayNameFormControl.hasError('minlength') && !displayNameFormControl.hasError('required')">
          Името трябва да е дълго минимум 5 символа.
        </mat-error>
        <mat-error *ngIf="displayNameFormControl.hasError('required')">
          Полето е
          <strong>задължително</strong>
        </mat-error>
        <mat-hint>Задължително поле</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Описание" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="description"
          [(ngModel)]="article.description" [formControl]="descriptionFormControl" [errorStateMatcher]="matcher"></textarea>
        <mat-error *ngIf="descriptionFormControl.hasError('minlength') && !descriptionFormControl.hasError('required')">
          Описанието трябва да е дълго минимум 35 символа.
        </mat-error>
        <mat-error *ngIf="descriptionFormControl.hasError('required')">
          Описанието е
          <strong>задължително</strong>
        </mat-error>
        <mat-hint>Задължително поле</mat-hint>
      </mat-form-field>

      <div>
        <mat-form-field>
          <app-input-file [formControl]="pictureFormControl" (change)="fileChange($event)" placeholder="Задължително поле" name="photo"
            valuePlaceholder="Промяна на снимката">
          </app-input-file>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="pictureFormControl.hasError('maxContentSize')">
            Файла не трябва да бъде по-голям от 10mb!
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input type="number" matInput placeholder="Цена" name="price" [(ngModel)]="article.price" [formControl]="priceFormControl"
          [errorStateMatcher]="matcher">
        <mat-icon matSuffix>лв.</mat-icon>
        <mat-error *ngIf="priceFormControl.hasError('min') && !priceFormControl.hasError('required')">
          Цената трябва да е по-голяма или равна на 1
        </mat-error>
        <mat-error *ngIf="priceFormControl.hasError('required')">
          Цената е
          <strong>задължителна</strong>
        </mat-error>
        <mat-hint>Задължително поле</mat-hint>
      </mat-form-field>
    </div>

    <div class="column">
      <p>Размери:</p>
      <div class="input accordion">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Избери размери
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-selection-list #articles name="sizes" [(ngModel)]="article.sizes" [formControl]="sizesFormControl">
            <mat-list-option *ngFor="let size of sizes" value="{{size.name}}">{{size.name}}</mat-list-option>
          </mat-selection-list>

        </mat-expansion-panel>
        <div class="err" *ngIf="!isSizesSelected">
          Задължителен избор
        </div>
      </div>

      <p>Цветове:</p>
      <div class="input accordion">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              Избери цветове
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-selection-list #articles name="colors" [(ngModel)]="article.colors" [formControl]="colorsFormControl">
            <mat-list-option *ngFor="let color of colors" value="{{color.name}}">{{color.name}}</mat-list-option>
          </mat-selection-list>

        </mat-expansion-panel>
        <div class="err" *ngIf="!isColorsSelected">
          Задължителен избор
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <button mat-raised-button color="warn" (click)="hideModal()">Назад</button>
    </div>
    <div class="column">
      <button mat-raised-button color="primary" type="submit" [disabled]="!editArticleForm.valid" (click)="editArticle()">Промени артикула</button>
    </div>
  </div>

</form>