<mat-toolbar color="primary" class="flex-container">

  <div class="flex-container" fxShow="false" fxShow.gt-sm>
    <button class="mat-elevation-z2" mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button class="mat-elevation-z2" mat-button [matMenuTriggerFor]="genders">
      <mat-icon>store</mat-icon>
      Магазин</button>
    <button class="mat-elevation-z2" mat-button routerLink="/basket">
      <mat-icon>shopping_basket</mat-icon>
      Кошница</button>
    <button class="mat-elevation-z2" mat-button routerLink="/users">
        <mat-icon>group</mat-icon>
        Потребители</button>
  </div>

  <div class="auth-links" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button class="mat-elevation-z2" mat-button [mat-menu-trigger-for]="menu" fxHide="false">
      <mat-icon>account_box</mat-icon>
      Автентикация</button>
  </div>

  <!-- Menu button -->
  <button mat-button [mat-menu-trigger-for]="mobile" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Mobile menu -->
<mat-menu [overlapTrigger]="false" class="flex-container" x-position="before" #mobile="matMenu">
    <button mat-menu-item routerLink="/login">Вход</button>
    <button mat-menu-item routerLink="/register">Регистрация</button>
    <button mat-menu-item class="mat-elevation-z2" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-menu-item class="mat-elevation-z2" [matMenuTriggerFor]="genders">
      <mat-icon>store</mat-icon>
      Магазин</button>
    <button mat-menu-item class="mat-elevation-z2" routerLink="/basket">
      <mat-icon>shopping_basket</mat-icon>
      Кошница</button>
    <button mat-menu-item class="mat-elevation-z2" routerLink="/users">
        <mat-icon>group</mat-icon>
        Потребители</button>
</mat-menu>

<div class="content">
    <router-outlet></router-outlet>
</div>

<mat-menu [overlapTrigger]="false" class="menu" x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/login">Вход</button>
  <button mat-menu-item routerLink="/register">Регистрация</button>
</mat-menu>

<!-- shop categories -->
<!-- gender categories -->
<mat-menu [overlapTrigger]="false" #genders="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="boysSesons">Момичета</button>
  <button mat-menu-item [matMenuTriggerFor]="girlsSesons">Момчета</button>
</mat-menu>

<!-- seson categories -->
<mat-menu #boysSesons="matMenu">
  <button mat-menu-item>Пролет-лято</button>
  <button mat-menu-item>Есен-Зима</button>
</mat-menu>

<!-- seson categories -->
<mat-menu #girlsSesons="matMenu">
    <button mat-menu-item>Пролет-лято</button>
    <button mat-menu-item>Есен-Зима</button>
</mat-menu>
