<mat-toolbar color="primary" class="flex-container">

  <div class="flex-container" fxShow="false" fxShow.gt-sm>
    <button class="mat-elevation-z2" mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button class="mat-elevation-z2" mat-button [matMenuTriggerFor]="genders">
      <mat-icon>store</mat-icon>
      Магазин</button>
    <button class="mat-elevation-z2" mat-button routerLink="/basket">
      <mat-icon>shopping_basket</mat-icon>
      Кошница</button>
    <button class="mat-elevation-z2" mat-button routerLink="/users">
      <mat-icon>group</mat-icon>
      Потребители</button>
    <button class="mat-elevation-z2" mat-button [matMenuTriggerFor]="adminFunc">
      <mat-icon>assignment</mat-icon>
      Мениджмънт</button>
  </div>

  <div *ngIf="!isLogged" class="auth-links" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button class="mat-elevation-z2" mat-button [mat-menu-trigger-for]="menu" fxHide="false">
      <mat-icon>account_box</mat-icon>
      Автентикация</button>
  </div>
  <div *ngIf="isLogged" class="auth-links" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button (click)="logout()" class="mat-elevation-z2" mat-button fxHide="false">
      <mat-icon>power_settings_new</mat-icon>
      Изход</button>
  </div>

  <!-- Menu button -->
  <button mat-button [mat-menu-trigger-for]="mobile" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Mobile menu -->
<mat-menu [overlapTrigger]="false" class="flex-container" x-position="before" #mobile="matMenu">
  <button *ngIf="!isLogged" mat-menu-item routerLink="/login">Вход</button>
  <button *ngIf="!isLogged" mat-menu-item routerLink="/register">Регистрация</button>
  <button mat-menu-item class="mat-elevation-z2" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-menu-item class="mat-elevation-z2" [matMenuTriggerFor]="genders">
    <mat-icon>store</mat-icon>
    Магазин</button>
  <button mat-menu-item class="mat-elevation-z2" routerLink="/basket">
    <mat-icon>shopping_basket</mat-icon>
    Кошница</button>
  <button mat-menu-item class="mat-elevation-z2" routerLink="/users">
    <mat-icon>group</mat-icon>
    Потребители</button>

  <button mat-menu-item class="mat-elevation-z2" [matMenuTriggerFor]="adminFunc">
    <mat-icon>assignment</mat-icon>
    Мениджмънт</button>
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
  <!-- <app-articles-list></app-articles-list> -->
</div>

<mat-menu [overlapTrigger]="false" class="menu" x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/login">Вход</button>
  <button mat-menu-item routerLink="/register">Регистрация</button>
</mat-menu>

<!-- shop categories -->
<!-- gender categories -->
<mat-menu [overlapTrigger]="false" #genders="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="boysSesons">Момчета</button>
  <button mat-menu-item [matMenuTriggerFor]="girlsSesons">Момичета</button>
</mat-menu>

<!-- seson categories -->
<mat-menu #boysSesons="matMenu">
  <button mat-menu-item routerLink="/articles/boys/spring_summer">Пролет-лято</button>
  <button mat-menu-item routerLink="/articles/boys/fall_winter">Есен-Зима</button>
</mat-menu>

<!-- seson categories -->
<mat-menu #girlsSesons="matMenu">
  <button mat-menu-item routerLink="/articles/girls/spring_summer">Пролет-лято</button>
  <button mat-menu-item routerLink="/articles/girls/fall_winter">Есен-Зима</button>
</mat-menu>

<!-- admin functionalities -->
<mat-menu [overlapTrigger]="false" #adminFunc="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="adminArticles">Артикули</button>
  <button mat-menu-item [matMenuTriggerFor]="adminBrands">Брандове</button>
  <button mat-menu-item [matMenuTriggerFor]="adminCategories">Категории</button>
</mat-menu>

<!-- admin articles -->
<mat-menu [overlapTrigger]="false" #adminArticles="matMenu">
  <button mat-menu-item routerLink="/article/create">Създай артикул</button>
  <!-- <button mat-menu-item routerLink="/articles/admin">Промени артикули</button> -->
</mat-menu>

<!-- admin brands -->
<mat-menu [overlapTrigger]="false" #adminBrands="matMenu">
  <button mat-menu-item routerLink="/brand/create">Създай бранд</button>
</mat-menu>

<!-- admin categories -->
<mat-menu [overlapTrigger]="false" #adminCategories="matMenu">
  <button mat-menu-item routerLink="/category/create">Създай категория</button>
</mat-menu>