<div role="listitem" class="flex-item">
  <div class="article-info">
    <div>
      <img class="article-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
    </div>

    <div class="text-container">
      <h3>Some Product Name</h3>
      <h5>Some producSome producSome producSome producSome producSome producSomeSome producSome producSome producSome producSome
        producSome producSomeSome producSome producSome producSome producSome producSome producSomeSome producSome producSome
        producSome producSome producSome producSome</h5>
    </div>
  </div>


  <div class="article-controls">
    <div class="quantity-col">
      <strong>25.00
        <span class="text-muted">x</span>
      </strong>
    </div>

    <div class="quantity-col">
      <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
        <mat-icon>add</mat-icon>
      </button>

      <mat-form-field class="quantity-field">
        <input matInput placeholder="1" disabled/>
      </mat-form-field>

      <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <div class="quantity-col">
      <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

</div>
<hr/>