<div class="container" *ngIf="article">
  <mat-toolbar color="primary" class="row">
    <h2 class="head-text">{{article.name}}</h2>
  </mat-toolbar>

  <div class="row">
    <div class="column image">
      <img mat-card-image src="{{article.photo}}" class="img" alt="article photo" />
    </div>
    <div class="column details">
      <mat-list role="list" class="list">
        <div class="info">
          <p>Производител: {{article.brand.name}}</p>
        </div>
        <div class="info">
          <p *ngIf="article.status.available">Наличност: в наличност</p>
          <p *ngIf="!article.status.available" class="warning">Наличност: не е в наличност</p>
        </div>
        <div class="info">
          <p>Цена:</p>
          <h3>{{article.price | number: '1.2'}} лв</h3>
        </div>
        <div class="info">
          <p>размер:</p>
          <mat-radio-group class="radio">
            <mat-radio-button *ngFor="let size of article.sizes" value="{{size}}">{{size}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="info">
          <p>цвят:</p>
          <mat-radio-group class="radio">
            <mat-radio-button *ngFor="let color of article.colors" value="{{color}}">{{color}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="info">
          <button class="mat-elevation-z2 btn" *ngIf="article.status.available" mat-button routerLink="/">
            Добави в кошницата
          </button>
        </div>

        <p class="info">Описание: {{article.description}}</p>

      </mat-list>
    </div>
  </div>


</div>