<div class="container">
  <mat-toolbar color="primary" class="row">
    <h2 class="head-text">Тениска с апликация</h2>
  </mat-toolbar>

  <div class="row">
    <div class="column image">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img" alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="column details">
      <mat-list role="list" class="list">
        <div class="info">
          <p>Производител: Myoral</p>
          <p>Наличност: в наличност</p>
        </div>
        <div class="info">
          <h3>36,50лв</h3>
        </div>
        <div class="info">
          <p>размер:</p>
          <mat-radio-group>
            <mat-radio-button value="1">M</mat-radio-button>
            <mat-radio-button value="2">L</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="info">
          <p>цвят:</p>
          <mat-radio-group>
            <mat-radio-button value="1">Син</mat-radio-button>
            <mat-radio-button value="2">Червен</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="info">
          <button class="mat-elevation-z2 btn" mat-button routerLink="/">
            Добави в кошницата
          </button>
        </div>
        <div class="info">
          <p>
            - Къдрички на ръкавите и деколтето. - Закопчаване с копче отзад. - Колекция пролет-лято 2018 Състав : 92 % Памук , 8 % Еластан
          </p>
        </div>
      </mat-list>
    </div>
  </div>


</div>