<mat-list role="list" class="list">
  <!-- <mat-card class="info-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>perm_identity</mat-icon>
      </div>
      <mat-card-title>Имена</mat-card-title>
      <mat-card-subtitle>Пешо Георгиев</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
        Потребителят е регистриран на ДАТА, има 100 покупки на обща стойност 1000лв.
      </p>
    </mat-card-content>
    <div class="buttons">
      <mat-card-actions class="btn">
        <button class="mat-elevation-z2" mat-button>Администратор</button>
      </mat-card-actions>
      <mat-card-actions class="btn">
        <button class="mat-elevation-z2" mat-button>Блокирай</button>
      </mat-card-actions>
    </div>
  </mat-card> -->

  <div *ngIf="users">
    <app-user-info-card *ngFor="let user of users" [user]="user"></app-user-info-card>
  </div>

  <app-paginator *ngIf="users" 
                (notify)="onPageEvent($event)"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                [length]="users.length"
                (onChangePage)="fetchRecords($event)"></app-paginator>
</mat-list>