<mat-toolbar class="list-header">
  <div>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Продължи с пазаруването
    </button>
  </div>
</mat-toolbar>
<mat-list role="list" class="flex-container">

</mat-list>

<mat-toolbar style="height:auto; align-items: unset;" class="list-footer">
  <!-- <div class="discount-info">
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Код за отстъпка" name="loyaltyCode">
    </mat-form-field>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Ползвай намаление
    </button>
  </div> -->
  <div class="price-info">
    <div class="price">
      Крайна цена:
      <b>50.00лв.</b>
    </div>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Плати
    </button>
  </div>
</mat-toolbar>