.example-container {
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar{
    margin-top: 20px;
}


