<!-- <mat-toolbar class="articles-header"></mat-toolbar> -->

<mat-toolbar class="list-header">
  <div>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Продължи с пазаруването
    </button>
  </div>
</mat-toolbar>
<mat-list role="list" class="flex-container">
  <div role="listitem" class="flex-item">
    <div class="article-info">
      <div>
        <img class="article-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      </div>

      <div class="text-container">
        <h3>Some Product Name</h3>
        <h5>Some producSome producSome producSome producSome producSome producSomeSome producSome producSome producSome producSome
          producSome producSomeSome producSome producSome producSome producSome producSome producSomeSome producSome producSome
          producSome producSome producSome producSome</h5>
      </div>
    </div>


    <div class="article-controls">
      <div class="quantity-col">
        <strong>25.00
          <span class="text-muted">x</span>
        </strong>
      </div>

      <div class="quantity-col">
        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>add</mat-icon>
        </button>

        <mat-form-field class="quantity-field">
          <input matInput placeholder="1" disabled/>
        </mat-form-field>

        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <div class="quantity-col">
        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <hr/>
  <div role="listitem" class="flex-item">
    <div class="article-info">
      <div>
        <img class="article-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      </div>

      <div class="text-container">
        <h3>Some Product Name</h3>
        <h5>Some producSome producSome producSome producSome producSome producSomeSome producSome producSome producSome producSome
          producSome producSomeSome producSome producSome producSome producSome producSome producSomeSome producSome producSome
          producSome producSome producSome producSome</h5>
      </div>
    </div>


    <div class="article-controls">
      <div class="quantity-col">
        <strong>25.00
          <span class="text-muted">x</span>
        </strong>
      </div>

      <div class="quantity-col">
        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>add</mat-icon>
        </button>

        <mat-form-field class="quantity-field">
          <input matInput placeholder="1" disabled/>
        </mat-form-field>

        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <div class="quantity-col">
        <button mat-mini-fab ng-href="www.ad.bg" target="_blank">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <hr/>

</mat-list>

<mat-toolbar style="height:auto; align-items: unset;" class="list-footer">
  <div class="discount-info">
    <mat-form-field class="example-full-width">
      <input class="input" matInput placeholder="Код за отстъпка" name="loyaltyCode">
    </mat-form-field>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Ползвай намаление
    </button>
  </div>
  <div class="price-info">
    <div class="price">
      Крайна цена:
      <b>50.00лв.</b>
    </div>
    <button class="mat-elevation-z2 btn" mat-button routerLink="/">
      Плати
    </button>
  </div>
</mat-toolbar>