.myForm {
    display: flex;
    flex-direction: column;
    background-color: #D7E8D4;
    border-radius: 3px;
    padding: 4em;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.mat-form-field{
    min-width: 350px;
}

.form-container{
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.myForm > div{
    padding: 15px;
}
  
.row {
    display: flex;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    flex-basis: 30%;
}
.input-group {
     display: flex;
}
.input-group > label {
    margin-right: 1em; 
    padding: .5em 0;
}
/* .myForm input,
.myForm select {
    flex: 6; 
    padding: .5em;
    margin-bottom: 1em;
} */
.myForm button {
    background: #303F9F;
    color: white;
}
.myForm fieldset {
     border: 0; 
}
.taxi > label,
.extras > label {
    display: block;
}
