.myForm {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 3px;
    padding: 4em;
    width: 750px;
  }
  
.img{
    max-width: 210px;
    padding-bottom: 15px;
}

  .myForm > div{
    padding: 15px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    flex-basis: 30%;
  }
  
  .input-group {
     display: flex;
  }
  
  .input-group > label {
    margin-right: 1em; 
    padding: .5em 0;
  }
  
  .myForm fieldset {
     border: 0; 
  }
  .taxi > label,
  .extras > label {
    display: block;
  }
  
  .single{
    display: flex;
    justify-content: center;
  }
  
  .single > div{
    flex: 1;
  }
  
  .err{
    color: red;
  }
  

