<mat-card class="info-card container">

  <mat-card-header>
    <div class="row">
      <div class="column">
        <div mat-card-avatar>
          <mat-icon>perm_identity</mat-icon>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <div class="column">
            <mat-card-title>Име:</mat-card-title>
          </div>
          <div class="column">
            <mat-card-subtitle>{{user.firstName}}</mat-card-subtitle>
            <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="row">
    <div class="column">
      <div class="row">
        <h4>Информация</h4>
      </div>
      <div class="row-start">
        <label>Имейл:</label>
        <p>{{user.email}}</p>
      </div>
      <div class="row-start">
        <label>Телефон:</label>
        <p>{{user.phoneNumber}}</p>
      </div>
      <div class="row-start">
        <label>Роли:</label>
        <p>{{roles}}</p>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <h4>Адрес</h4>
      </div>
      <div *ngIf="user.address.city" class="row-start">
        <label>Град/село:</label>
        <p>{{user.address.city}}</p>
      </div>
      <div *ngIf="user.address.street" class="row-start">
        <label>Улица:</label>
        <p>{{user.address.street}}</p>
      </div>
      <div *ngIf="user.address.adress" class="row-start">
        <label>Адрес:</label>
        <p>{{user.address.adress}}</p>
      </div>
      <div *ngIf="user.address.postCode" class="row-start">
        <label>Пощенски код:</label>
        <p>{{user.address.postCode}}</p>
      </div>
    </div>

  </mat-card-content>
  <div class="buttons">
    <div *ngIf="!isBlocked">
      <mat-card-actions *ngIf="isAdmin">
        <button class="mat-elevation-z2 btn" (click)="editUserConfirmation('adminTake')" mat-button>Вземи права</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="!isAdmin">
        <button class="mat-elevation-z2 btn" (click)="editUserConfirmation('admin')" mat-button>Дай права</button>
      </mat-card-actions>
    </div>

    <mat-card-actions *ngIf="!isBlocked">
      <button class="mat-elevation-z2 btn" (click)="editUserConfirmation('block')" mat-button>Блокирай</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="isBlocked">
      <button class="mat-elevation-z2 btn" (click)="editUserConfirmation('unBlock')" mat-button>Отблокирай</button>
    </mat-card-actions>
  </div>
</mat-card>