html {
    height: 100%;
}
  
body {
    min-height: 100%;
    display: flex;
   flex-direction: column;
}
  
section {
    /* flex: 1; would be enough but it looks bad in IE */
    flex: 1 0 auto;
}
  
/* Unimportant part */
body {
    font: 16px/1.5 sans-serif;
}
p {
    margin-bottom: 1em;
}
header, section, footer {
    padding: 2em;
    color: white;
}

  footer {
    background-color: #3F51B5;
  }