<div class="edit-form">
  <div class="field-container">
    <h4 class="row">
      <b>Статус:</b>
    </h4>

    <mat-radio-group name="status" class="row" [(ngModel)]="status.status">
      <mat-radio-button value="PROMO">Промоция</mat-radio-button>
      <mat-radio-button value="REGULAR">Нормален</mat-radio-button>
      <mat-radio-button value="SALE">Разпродажба</mat-radio-button>
    </mat-radio-group>

    <div class="row">
      <mat-checkbox class="row" [(ngModel)]="status.available" name="available" value="status.available">В наличност</mat-checkbox>
    </div>

    <div class="row">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" name="expireDate" [(ngModel)]="status.expireDate" placeholder="Крайна дата">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input value="0" type="number" matInput placeholder="Отстъпка" [(ngModel)]="status.discount" name="discount">
        <mat-icon matSuffix>%</mat-icon>
        <mat-hint>Задължително поле</mat-hint>
      </mat-form-field>
    </div>

    <div class="row">
      <button mat-raised-button color="warn" (click)="hideModal()">Назад</button>
      <button mat-raised-button color="primary" type="submit" (click)="confirmEdit()">Промени статуса</button>
    </div>
  </div>

</div>